.links{
	border :1px solid #000000;
	border-radius: 0.2rem;
	background-color: #87CEEB;
	padding: 0.5rem;
	margin-right: 2rem;

}
.links:hover{
	
	border :2px solid #000000;
	border-radius: 0.2rem;
	opacity: .7;

nav .navbar-nav li a{
  color: #e9eaec;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

nav .navbar-nav li a:hover{
  color: #333652;
  background-color: #fad02c;
  border-radius: 0.2rem;
}

.nav-link.active {
  background-color: #fad02c;
  color: #000000;
  border-radius: 0.2rem;
}

.nav-link.active:hover {
  color: #000000;
